<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- <meta name="robots" content="noindex"> -->
    <meta name="keyword" content="바까바까" />
    <meta name="description" content="바까바까" />
    <meta property="og:title" content="바까바까" />
    <meta property="og:description" content="바까바까" />
    <meta property="og:image" content="바까바까" />
    <title>Document</title>
    <link rel="preload" href="https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/src/stylesheets/common.css" as="style"
        onload="this.rel='stylesheet'" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/nsadfhs/tedex@stylesheets-1.0.0/layouts/flex.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/nsadfhs/tedex@stylesheets-1.0.0/atomic.css" /> -->
    <!-- <link rel="stylesheet" href="" /> -->
</head>

<body>
    <header id="header_wrapper "></header>
    <aside></aside>
    <main></main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script type="module" src="/public/javascripts/layouts/layouts.js"></script>
    <script type="module" src="/public/javascripts/layouts/layouts_a.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/nsadfhs/tedex@original-1.0.0/src/javascripts/common.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/nsadfhs/tedex@original/src/javascripts/foundation.js"></script> -->
    <!-- <script
        src="https://cdn.jsdelivr.net/gh/nufyn/haedo-modules@javascripts-바까바까/src/javascripts/layouts/foundation_a.js"></script> -->
    <script>
        setLayoutA();
    </script>
</body>

</html>