<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- <meta name="robots" content="noindex"> -->
    <meta name="keyword" content="Lorem, ipsum." />
    <meta name="description" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ratione." />
    <meta property="og:title" content="Lorem, ipsum." />
    <meta property="og:description"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ratione." />
    <meta property="og:image"
        content="https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/public/images/static/sample_og_image.jpeg" />
    <title>Home :: Lorem, ipsum.</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/src/stylesheets/all_in_one.css" /> -->
    <link rel="stylesheet" href="/public/stylesheets/all_in_one.css" />
</head>

<body>
    <header>
        <a href="/">
            <img src="https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/public/images/logo/sample_logo.png"
                class="header-logo" alt="" />
        </a>
        <section class="gnb-wrapper">
            <a href="/common">common reset</a>
            <a href="/common/normalized">normalized</a>
            <a href="/common/atomic">아토믹 style</a>
            <a href="/common/all-in-one">올 인 원</a>
        </section>
    </header>
    <aside>1</aside>
    <main>
        <aside>1</aside>
        <section class="title-container border-bottom__1">
            <h1>TEDEX에 오신걸 환영합니다.</h1>
        </section>
        <div class="card__b">
            <a href="/components/button">콤포넌트</a>
        </div>
        <div class="card__b">
            <a href="/typography" class="">typography</a>
        </div>
        <div class="card__b">
            <a href="/containers">컨테이너</a>
        </div>
        <div class="card__b">
            <a href="/layouts">레이아웃</a>
        </div>
    </main>
    <footer>
        <p>Copyright 2023. Lorem All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
</body>

</html>