/* Display */

.show {
    display: inherit !important;
}

.silence {
    display: none !important;
}

/* Box Size */

/* Width */

.full {
    max-width: 100% !important;
    width: 100% !important;
}

.half {
    width: 50% !important;
}

.thirds {
    width: 33.3333% !important;
}

.quarter {
    width: 25% !important;
}

.fifth {
    width: 20% !important;
}

.tenth {
    width: 10% !important;
}

/* max width */

.max-width__24-pixel {
    max-width: 24px;
}

.max-width__60-pixel {
    max-width: 24px;
}

.max-width__80-pixel {
    max-width: 80px;
}

.max-width__88-pixel {
    max-width: 88px;
}

.max-width__100-pixel {
    max-width: 100px;
}

.max-width__120-pixel {
    max-width: 120px;
}

.max-width__150-pixel {
    max-width: 150px;
}

.max-width__164-pixel {
    max-width: 164px;
}

.max-width__180-pixel {
    max-width: 180px;
}

.max-width__200-pixel {
    max-width: 200px;
}

.max-width__220-pixel {
    max-width: 220px;
}

.max-width__240-pixel {
    max-width: 240px;
}

.max-width__300-pixel {
    max-width: 300px;
}

.max-width__320-pixel {
    max-width: 320px;
}

.max-width__400-pixel {
    max-width: 400px;
}

.max-width__half {
    max-width: 50% !important;
    width: 100% !important;
}

.max-width__thirds {
    max-width: 33.3333% !important;
    width: 100% !important;
}

.max-width__quarter {
    max-width: 25% !important;
    width: 100% !important;
}

.max-width__fifth {
    max-width: 20% !important;
    width: 100% !important;
}

.max-width__tenth {
    max-width: 10% !important;
    width: 100% !important;
}

/* height */

.expand {
    height: 100% !important;
}

/* Typography */

/* Font Size */

.font-size__1 {
    font-size: 1rem;
}

.font-size__2 {
    font-size: 2rem;
}

.font-size__3 {
    font-size: 3rem;
}

.font-size__4 {
    font-size: 4rem;
}

.font-size__5 {
    font-size: 5rem;
}

.font-size__1.extra-small {
    font-size: calc(1rem + var(--rem_xs));
}

.font-size__1.small {
    font-size: calc(1rem + var(--rem_sm));
}

.font-size__1.medium {
    font-size: calc(1rem + var(--rem_md));
}

.font-size__1.large {
    font-size: calc(1rem + var(--rem_lg));
}

.font-size__1.extra-large {
    font-size: calc(1rem + var(--rem_xl));
}

.font-size__2.extra-small {
    font-size: calc(2rem + var(--rem_xs));
}

.font-size__2.small {
    font-size: calc(2rem + var(--rem_sm));
}

.font-size__2.medium {
    font-size: calc(2rem + var(--rem_md));
}

.font-size__2.large {
    font-size: calc(2rem + var(--rem_lg));
}

.font-size__2.extra-large {
    font-size: calc(2rem + var(--rem_xl));
}

.font-size__3.extra-small {
    font-size: calc(3rem + var(--rem_xs));
}

.font-size__3.small {
    font-size: calc(3rem + var(--rem_sm));
}

.font-size__3.medium {
    font-size: calc(3rem + var(--rem_md));
}

.font-size__3.large {
    font-size: calc(3rem + var(--rem_lg));
}

.font-size__3.extra-large {
    font-size: calc(3rem + var(--rem_xl));
}

.font-size__4.extra-small {
    font-size: calc(4rem + var(--rem_xs));
}

.font-size__4.small {
    font-size: calc(4rem + var(--rem_sm));
}

.font-size__4.medium {
    font-size: calc(4rem + var(--rem_md));
}

.font-size__4.large {
    font-size: calc(4rem + var(--rem_lg));
}

.font-size__4.extra-large {
    font-size: calc(4rem + var(--rem_xl));
}

.font-size__10-pixel {
    font-size: 10px;
}

.font-size__15-pixel {
    font-size: 15px;
}

.font-size__20-pixel {
    font-size: 20px;
}

.font-size__25-pixel {
    font-size: 25px;
}

.font-size__30-pixel {
    font-size: 30px;
}

.font-size__35-pixel {
    font-size: 35px;
}

.font-size__40-pixel {
    font-size: 40px;
}

.font-size__45-pixel {
    font-size: 45px;
}

.font-size__50-pixel {
    font-size: 50px;
}

.font-size__60-pixel {
    font-size: 60px;
}

.font-size__70-pixel {
    font-size: 70px;
}

.font-size__80-pixel {
    font-size: 80px;
}

.font-size__90-pixel {
    font-size: 90px;
}

.font-size__100-pixel {
    font-size: 100px;
}

/* Font Weight */

.font-weight__200,
.font-weight__light {
    font-weight: 200;
}

.font-weight__300 {
    font-weight: 300;
}

.font-weight__400,
.font-weight__regular {
    font-weight: 400;
}

.font-weight__500,
.font-weight__medium {
    font-weight: 500;
}

.font-weight__600 {
    font-weight: 600;
}

.font-weight__700 {
    font-weight: 700;
}

.font-weight__800 {
    font-weight: 800;
}

.font-weight__900,
.font-weight__black {
    font-weight: 900;
}

.font-weight__normal {
    font-weight: normal;
}

.font-weight__bold {
    font-weight: bold;
}

.font-weight__bolder {
    font-weight: bolder;
}

.font-weight__lighter {
    font-weight: lighter;
}

/* line height 행간 */

.line-height__xs {
    line-height: 1;
}

.line-height__sm {
    line-height: 1.2;
}

.line-height__md {
    line-height: 1.35;
}

.line-height__lg {
    line-height: 1.5;
}

.line-height__xl {
    line-height: 1.8;
}

/* text align */

.text-align__center {
    text-align: center !important;
}

.text-align__left {
    text-align: left !important;
}

.text-align__right {
    text-align: right !important;
}

.text-align__stretch {
    text-align: justify !important;
}

/* text decoration */

.text-decoration__upper {
    text-transform: uppercase !important;
}

.text-transform__lower {
    text-transform: lowercase !important;
}

.text-transform__capital {
    text-transform: capitalize !important;
}

.word-break__keep {
    word-break: keep-all !important;
}

.word-break__all {
    word-break: break-all !important;
}

.word-break__nowrap {
    word-break: unset !important;
    white-space: nowrap !important;
}

/* ellipsis */

.text-overflow__ellipsis,
.ellipsis {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Padding */

/* all(top, right, bottom, left) padding */

.padding__1 {
    padding: 1rem;
}

.padding__2 {
    padding: 2rem;
}

.padding__3 {
    padding: 3rem;
}

.padding__4 {
    padding: 4rem;
}

.padding__5 {
    padding: 5rem;
}

/* padding none */

.padding-top__none {
    padding-top: 0 !important;
}

.padding-right__none {
    padding-right: 0 !important;
}

.padding-bottom__none {
    padding-top: 0 !important;
}

.padding-left__none {
    padding-left: 0 !important;
}

.padding-horizontal__none {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-vertical__none {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* text align */

.text-align__center {
    text-align: center;
}

.text-align__left {
    text-align: left;
}

.text-align__right {
    text-align: right;
}

.text-align__stretch {
    text-align: justify;
}

/* Margin */

/* all(top, right, bottom, left) margin */

.margin__1 {
    margin: 1rem;
}

.margin__2 {
    margin: 2rem;
}

.margin__3 {
    margin: 3rem;
}

.margin__4 {
    margin: 4rem;
}

.margin__5 {
    margin: 5rem;
}

/* bottom margin */

.margin-bottom__1 {
    margin-bottom: 1rem;
}

.margin-bottom__2 {
    margin-bottom: 2rem;
}

.margin-bottom__3 {
    margin-bottom: 3rem;
}

.margin-bottom__4 {
    margin-bottom: 4rem;
}

.margin-bottom__5 {
    margin-bottom: 5rem;
}

.margin-bottom__1.extra-small {
    margin-bottom: calc(1rem + var(--rem_xs));
}

.margin-bottom__1.small {
    margin-bottom: calc(1rem + var(--rem_sm));
}

.margin-bottom__1.medium {
    margin-bottom: calc(1rem + var(--rem_md));
}

.margin-bottom__1.large {
    margin-bottom: calc(1rem + var(--rem_lg));
}

.margin-bottom__1.extra-large {
    margin-bottom: calc(1rem + var(--rem_xl));
}

.margin-bottom__2.extra-small {
    margin-bottom: calc(2rem + var(--rem_xs));
}

.margin-bottom__2.small {
    margin-bottom: calc(2rem + var(--rem_sm));
}

.margin-bottom__2.medium {
    margin-bottom: calc(2rem + var(--rem_md));
}

.margin-bottom__2.large {
    margin-bottom: calc(2rem + var(--rem_lg));
}

.margin-bottom__2.extra-large {
    margin-bottom: calc(2rem + var(--rem_xl));
}

.margin-bottom__3.extra-small {
    margin-bottom: calc(3rem + var(--rem_xs));
}

.margin-bottom__3.small {
    margin-bottom: calc(3rem + var(--rem_sm));
}

.margin-bottom__3.medium {
    margin-bottom: calc(3rem + var(--rem_md));
}

.margin-bottom__3.large {
    margin-bottom: calc(3rem + var(--rem_lg));
}

.margin-bottom__3.extra-large {
    margin-bottom: calc(3rem + var(--rem_xl));
}

.margin-bottom__4.extra-small {
    margin-bottom: calc(4rem + var(--rem_xs));
}

.margin-bottom__4.small {
    margin-bottom: calc(4rem + var(--rem_sm));
}

.margin-bottom__4.medium {
    margin-bottom: calc(4rem + var(--rem_md));
}

.margin-bottom__4.large {
    margin-bottom: calc(4rem + var(--rem_lg));
}

.margin-bottom__4.extra-large {
    margin-bottom: calc(4rem + var(--rem_xl));
}

.margin-bottom__5.extra-small {
    margin-bottom: calc(5rem + var(--rem_xs));
}

.margin-bottom__5.small {
    margin-bottom: calc(5rem + var(--rem_sm));
}

.margin-bottom__5.medium {
    margin-bottom: calc(5rem + var(--rem_md));
}

.margin-bottom__5.large {
    margin-bottom: calc(5rem + var(--rem_lg));
}

.margin-bottom__5.extra-large {
    margin-bottom: calc(5rem + var(--rem_xl));
}

.margin-bottom__10 {
    margin-bottom: calc(10rem + var(--rem_md));
}

.margin-bottom__2-pixel {
    margin-bottom: 2px;
}

.margin-bottom__4-pixel {
    margin-bottom: 4px;
}

.margin-bottom__10-pixel {
    margin-bottom: 10px;
}

.margin-bottom__20-pixel {
    margin-bottom: 20px;
}

.margin-bottom__30-pixel {
    margin-bottom: 30px;
}

.margin-bottom__40-pixel {
    margin-bottom: 40px;
}

.margin-bottom__50-pixel {
    margin-bottom: 50px;
}

.margin-bottom__60-pixel {
    margin-bottom: 60px;
}

.margin-bottom__150-pixel {
    margin-bottom: 150px;
}

.margin-bottom__160-pixel {
    margin-bottom: 160px;
}

.margin-bottom__180-pixel {
    margin-bottom: 180px;
}

.margin-bottom__200-pixel {
    margin-bottom: 200px;
}

.margin-bottom__220-pixel {
    margin-bottom: 220px;
}

/* border */

/* all(top, right, bottom, left) border */

.border__1 {
    border: 1px solid var(--color-gray__200);
}

.border__2 {
    border: 2px solid var(--color-gray__200);
}

.border__3 {
    border: 3px solid var(--color-gray__200);
}

.border__4 {
    border: 4px solid var(--color-gray__200);
}

.border__1.white {
    border-color: var(--color-white);
}

.border__2.white {
    border-color: var(--color-white);
}

.border__3.white {
    border-color: var(--color-white);
}

.border__4.white {
    border-color: var(--color-white);
}

.border__1.black {
    border-color: var(--color-black);
}

.border__2.black {
    border-color: var(--color-black);
}

.border__3.black {
    border-color: var(--color-black);
}

.border__4.black {
    border-color: var(--color-black);
}

.border__1.primary {
    border-color: var(--color-primary);
}

.border__2.primary {
    border-color: var(--color-primary);
}

.border__3.primary {
    border-color: var(--color-primary);
}

.border__4.primary {
    border-color: var(--color-primary);
}

.border__1.gray {
    border-color: var(--color-gray__300);
}

.border__2.gray {
    border-color: var(--color-gray__300);
}

.border__3.gray {
    border-color: var(--color-gray__300);
}

.border__4.gray {
    border-color: var(--color-gray__300);
}

/* top border */

.border-top__1 {
    border-top: 1px solid var(--color-black__off);
}

.border-top__2 {
    border-top: 2px solid var(--color-black__off);
}

.border-top__3 {
    border-top: 3px solid var(--color-black__off);
}

.border-top__4 {
    border-top: 4px solid var(--color-black__off);
}


/* right border */

.border-right__1 {
    border-right: 1px solid var(--color-black__off);
}

.border-right__2 {
    border-right: 2px solid var(--color-black__off);
}

.border-right__3 {
    border-right: 3px solid var(--color-black__off);
}

.border-right__4 {
    border-right: 4px solid var(--color-black__off);
}

/* bottom border */

.border-bottom__1 {
    border-bottom: 1px solid var(--color-black__off);
}

.border-bottom__2 {
    border-bottom: 2px solid var(--color-black__off);
}

.border-bottom__3 {
    border-bottom: 3px solid var(--color-black__off);
}

.border-bottom__4 {
    border-bottom: 4px solid var(--color-black__off);
}

.border-bottom__1.white {
    border-bottom: 1px solid white;
}

.border-bottom__2.white {
    border-bottom: 2px solid white;
}

.border-bottom__3.white {
    border-bottom: 3px solid white;
}

.border-bottom__4.white {
    border-bottom: 4px solid white;
}

.border-bottom__1.black {
    border-bottom: 1px solid black;
}

.border-bottom__2.black {
    border-bottom: 2px solid black;
}

.border-bottom__3.black {
    border-bottom: 3px solid black;
}

.border-bottom__4.black {
    border-bottom: 4px solid black;
}

.border-bottom__1.primary {
    border-bottom: 1px solid var(--color-primary);
}

.border-bottom__2.primary {
    border-bottom: 2px solid var(--color-primary);
}

.border-bottom__3.primary {
    border-bottom: 3px solid var(--color-primary);
}

.border-bottom__4.primary {
    border-bottom: 4px solid var(--color-primary);
}

.border-bottom__1.gray {
    border-bottom: 1px solid var(--color-gray__300);
}

.border-bottom__2.gray {
    border-bottom: 2px solid var(--color-gray__300);
}

.border-bottom__3.gray {
    border-bottom: 3px solid var(--color-gray__300);
}

.border-bottom__4.gray {
    border-bottom: 4px solid var(--color-gray__300);
}

/* border style */

.border-style__solid {
    border-style: solid;
}

.border-style__dotted {
    border-style: dotted;
}

.border-style__dashed {
    border-style: dashed;
}

.border-style__double {
    border-style: double;
}

/* border color */

.border-color__white {
    border-color: white;
}

.border-color__black {
    border-color: black;
}

.border-color__primary {
    border-color: var(--color-primary);
}

.border-color__gray {
    border-color: var(--color-gray__300);
}


/* border radius */

/* all(top-left, top-right, bottom-right, bottom-left) border radius */

.radius__1 {
    border-radius: 1rem;
}

.radius__2 {
    border-radius: 2rem;
}

.radius__1.extra-small {
    border-radius: calc(1rem + var(--rem_xs));
}

.radius__1.small {
    border-radius: calc(1rem + var(--rem_sm));
}

.radius__1.medium {
    border-radius: calc(1rem + var(--rem_md));
}

.radius__1.large {
    border-radius: calc(1rem + var(--rem_lg));
}

.radius__1.extra-large {
    border-radius: calc(1rem + var(--rem_xl));
}

.radius__2.extra-small {
    border-radius: calc(2rem + var(--rem_xs));
}

.radius__2.small {
    border-radius: calc(2rem + var(--rem_sm));
}

.radius__2.medium {
    border-radius: calc(2rem + var(--rem_md));
}

.radius__2.large {
    border-radius: calc(2rem + var(--rem_lg));
}

.radius__2.extra-large {
    border-radius: calc(2rem + var(--rem_xl));
}

/* top-left border radius */

.radius-top-left__1.extra-small {
    border-top-left-radius: calc(1rem + var(--rem_xs));
}

.radius-top-left__1.small {
    border-top-left-radius: calc(1rem + var(--rem_sm));
}

.radius-top-left__1.medium {
    border-top-left-radius: calc(1rem + var(--rem_md));
}

.radius-top-left__1.large {
    border-top-left-radius: calc(1rem + var(--rem_lg));
}

.radius-top-left__1.extra-large {
    border-top-left-radius: calc(1rem + var(--rem_xl));
}

.radius-top-left__2.extra-small {
    border-top-left-radius: calc(2rem + var(--rem_xs));
}

.radius-top-left__2.small {
    border-top-left-radius: calc(2rem + var(--rem_sm));
}

.radius-top-left__2.medium {
    border-top-left-radius: calc(2rem + var(--rem_md));
}

.radius-top-left__2.large {
    border-top-left-radius: calc(2rem + var(--rem_lg));
}

.radius-top-left__2.extra-large {
    border-top-left-radius: calc(2rem + var(--rem_xl));
}

/* top-right border radius */

.radius-top-right__1.extra-small {
    border-top-right-radius: calc(1rem + var(--rem_xs));
}

.radius-top-right__1.small {
    border-top-right-radius: calc(1rem + var(--rem_sm));
}

.radius-top-right__1.medium {
    border-top-right-radius: calc(1rem + var(--rem_md));
}

.radius-top-right__1.large {
    border-top-right-radius: calc(1rem + var(--rem_lg));
}

.radius-top-right__1.extra-large {
    border-top-right-radius: calc(1rem + var(--rem_xl));
}

.radius-top-right__2.extra-small {
    border-top-right-radius: calc(2rem + var(--rem_xs));
}

.radius-top-right__2.small {
    border-top-right-radius: calc(2rem + var(--rem_sm));
}

.radius-top-right__2.medium {
    border-top-right-radius: calc(2rem + var(--rem_md));
}

.radius-top-right__2.large {
    border-top-right-radius: calc(2rem + var(--rem_lg));
}

.radius-top-right__2.extra-large {
    border-top-right-radius: calc(2rem + var(--rem_xl));
}

/* bottom-right border radius */

.radius-bottom-right__1.extra-small {
    border-bottom-right-radius: calc(1rem + var(--rem_xs));
}

.radius-bottom-right__1.small {
    border-bottom-right-radius: calc(1rem + var(--rem_sm));
}

.radius-bottom-right__1.medium {
    border-bottom-right-radius: calc(1rem + var(--rem_md));
}

.radius-bottom-right__1.large {
    border-bottom-right-radius: calc(1rem + var(--rem_lg));
}

.radius-bottom-right__1.extra-large {
    border-bottom-right-radius: calc(1rem + var(--rem_xl));
}

.radius-bottom-right__2.extra-small {
    border-bottom-right-radius: calc(2rem + var(--rem_xs));
}

.radius-bottom-right__2.small {
    border-bottom-right-radius: calc(2rem + var(--rem_sm));
}

.radius-bottom-right__2.medium {
    border-bottom-right-radius: calc(2rem + var(--rem_md));
}

.radius-bottom-right__2.large {
    border-bottom-right-radius: calc(2rem + var(--rem_lg));
}

.radius-bottom-right__2.extra-large {
    border-bottom-right-radius: calc(2rem + var(--rem_xl));
}

/* bottom-left border radius */

.radius-bottom-left__1.extra-small {
    border-bottom-left-radius: calc(1rem + var(--rem_xs));
}

.radius-bottom-left__1.small {
    border-bottom-left-radius: calc(1rem + var(--rem_sm));
}

.radius-bottom-left__1.medium {
    border-bottom-left-radius: calc(1rem + var(--rem_md));
}

.radius-bottom-left__1.large {
    border-bottom-left-radius: calc(1rem + var(--rem_lg));
}

.radius-bottom-left__1.extra-large {
    border-bottom-left-radius: calc(1rem + var(--rem_xl));
}

.radius-bottom-left__2.extra-small {
    border-bottom-left-radius: calc(2rem + var(--rem_xs));
}

.radius-bottom-left__2.small {
    border-bottom-left-radius: calc(2rem + var(--rem_sm));
}

.radius-bottom-left__2.medium {
    border-bottom-left-radius: calc(2rem + var(--rem_md));
}

.radius-bottom-left__2.large {
    border-bottom-left-radius: calc(2rem + var(--rem_lg));
}

.radius-bottom-left__2.extra-large {
    border-bottom-left-radius: calc(2rem + var(--rem_xl));
}

/* scroll */
.scrolling {
    overflow-y: auto !important;
}

.scrolling::-webkit-scrollbar {
    display: none;
}

/* horizontal rule custom */

/* hr border width */
hr,
hr.horizontal-line__1 {
    height: 1px;
    background-color: var(--color-gray__300);
}

hr.horizontal-line__2 {
    height: 2px;
    background-color: var(--color-gray__300);
}

hr.horizontal-line__3 {
    height: 3px;
    background-color: var(--color-gray__300);
}

/* double line */
hr.double-line {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}

hr.double-line:after {
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}

/* gradation line */
hr.gradation-line {
    height: 1px;
    background: var(--color-gray__100);
    background-image: -webkit-linear-gradient(left, var(--color-gray__200), var(--color-gray__700), var(--color-gray__200));
    background-image: -moz-linear-gradient(left, var(--color-gray__200), var(--color-gray__700), var(--color-gray__200));
    background-image: -ms-linear-gradient(left, var(--color-gray__200), var(--color-gray__700), var(--color-gray__200));
    background-image: -o-linear-gradient(left, var(--color-gray__200), var(--color-gray__700), var(--color-gray__200));
}

/* perforated line */
hr.perforated-line {
    position: relative;
    border-top: 1px dashed var(--color-gray__200);
}

hr.perforated-line:after {
    content: '\002702';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 3px;
    background: #f0f0f0;
    color: #bbb;
    font-size: 18px;
}