<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- <meta name="robots" content="noindex"> -->
    <meta name="keyword" content="Lorem, ipsum." />
    <meta name="description" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ratione." />
    <meta property="og:title" content="Lorem, ipsum." />
    <meta property="og:description"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ratione." />
    <meta property="og:image"
        content="https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/public/images/static/sample_og_image.jpeg" />
    <title>Common - Home :: Lorem, ipsum.</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/src/stylesheets/common.css" />
</head>

<body class="wrapper">
    <header class="header-wrapper">
        <a href="/">
            <img src="https://cdn.jsdelivr.net/gh/Nsadfhs/tedex@1.0.0/public/images/logo/sample_logo.png"
                class="header-logo" alt="" />
        </a>
        <section class="gnb-wrapper">
            <a href="/components/button">버튼</a>
            <a href="/components/card">카드</a>
            <a href="/components/input">인풋</a>
            <a href="/components/table">테이블</a>
        </section>
    </header>
    <aside class="aside-wrapper">1</aside>
    <aside class="aside-wrapper reverse">1</aside>
    <main class="main-wrapper">
        <h1>common CSS 와 컴포넌트</h1>
    </main>
    <footer class="footer-wrapper">
        <p>copyright</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
</body>

</html>